{% extends 'layouts/main2.html' %}

{% block title %}
    Info product
{% endblock %}

{% block content %}
    <style>
        .product {
            width: 70%;
            margin-left: 15%;
        }
        .reviews {
            width: 70%;
            margin-left: 15%;
        }
        .review {
            background: #242b2e;
            color: #fff;
            margin-bottom: 40px;
            padding: 8px;
        }
        .create_feedback {
            width: 70%;
            margin-left: 15%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <div class="product">
        <div class="img">
            <img src="/media/{{ product.product_cover }}/" alt="" width="700">
        </div>
        <div class="info">
            <div style="display: flex; justify-content: space-between">
                <h1>{{ product.title }}</h1>
                <h1>{{ product.author.username }}</h1>
            </div>
            <div>
                {% for category in categorias %}
                    {% if category.product__id == product.id %}
                        <p>{{ category.title }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <p>{{ product.price }}</p>
            <h5>{{ product.description }}</h5>
            <div class="reviews">
{#                {% for review in reviews %}#}
                <p>{{ review.title }}</p>
{#                {% endfor %}#}
            </div>
        </div>
    </div>
    <div class="create_feedback">
        <form action="/products/{{ product.title }}/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="leave feedback">
        </form>
    </div>
    <div class="reviews">
        {% for review in reviews %}
        {% if review.product_id == product.id %}
                <div class="review">
                    <p class="author">{{ review.author.username }}</p>
                    <p class="text">{{ review.text }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
